@model Fallah_App.Models.Sol
@section title
    {
    <title>
        Modifier Sol

    </title>
}

    @section style
    {
    <link rel="stylesheet" href="~/css/bootstrap-select/bootstrap-select.css">
    <style>
        .bootstrap-select {
            width: 100% !important;
        }

        .dcenter {
            display: flex !important;
            justify-content: center !important;
        }

        .hrzn-fm {
            font-weight: bold !important;
        }

    </style>
}
    <div class="breadcomb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcomb-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="notika-icon notika-windows"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h2>Sol</h2>
                                        <p>Ajouter Sol</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-example-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="form-example-wrap mg-t-30">
                        <div class="dcenter w-100">
                            <div style="width:60%;">
                                <form method="post">
                                    <div class="form-example-int form-horizental">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                                    <label class="hrzn-fm">Type</label>
                                                </div>
                                                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                                    <div class="nk-int-st">
                                                        <input asp-for="Type" class="form-control input-lg">
                                                    </div>
                                                    <span asp-validation-for="Type" class="text-danger"></span>
                                                    <span class="text-danger">@ViewBag.error</span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-example-int form-horizental">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                                    <label class="hrzn-fm">Couleur</label>
                                                </div>
                                                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                                    <div class="nk-int-st">
                                                        <input type="color" asp-for="Couleur" class="form-control input-lg">
                                                    </div>
                                                    <span asp-validation-for="Couleur" class="text-danger"></span>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-example-int form-horizental">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                                    <label class="hrzn-fm">Acidite</label>
                                                </div>
                                                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                                    <div class="nk-int-st">
                                                        <input type="number" asp-for="Acidite" class="form-control input-lg">
                                                    </div>
                                                    <span asp-validation-for="Acidite" class="text-danger"></span>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-example-int mg-t-15">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-7 col-sm-7 col-xs-12 dcenter">
                                                <button class="btn btn-success notika-btn-success" type="submit">Modifier</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>