@using Fallah_App.Enum
@model Fallah_App.Models.ConseilPlante
@section title
    {
    <title>Ajouter Conseil Terre</title>
}
@section style
    {
    <link rel="stylesheet" href="~/css/bootstrap-select/bootstrap-select.css">
    <style>
        .bootstrap-select {
            width: 100% !important;
        }

        .dcenter {
            display: flex !important;
            justify-content: center !important;
        }

        .hrzn-fm {
            font-weight: bold !important;
        }

        .recording {
            font-family: verdana,sans-serif;
            color: firebrick;
            display: inline-block;
            padding-left: 1.2em;
            line-height: 1.5em;
        }

            .recording::before {
                content: '🔴';
                position: absolute;
                left: 20px;
                animation: recording 600ms alternate infinite;
            }

        @@keyframes recording {
            from {
                opacity: 1;
            }

            to {
                opacity: 0.2;
            }
        }
    </style>
    <link rel="stylesheet" href="~/css/summernote/summernote.css">
    <link rel="stylesheet" href="~/css/themesaller-forms.css">
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="~/css/chosen/chosen.css">




}

<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-windows"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Conseil plante </h2>
                                    <p>Ajouter un Conseil</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="summernote-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="summernote-wrap mg-t-30">
                        <div class="cmp-tb-hd">
                        @if (ViewBag.eror != null)
                        {
                            <h3 class="text-danger">Fichier doit etre un audio</h3>
                        }
                        @if (ViewBag.erornull != null)
                        {
                            <h3 class="text-danger">Au mois un type de conseil (Audio,Text en Francais ou en Arabe)</h3>
                        }
                        @if (ViewBag.w != null)
                        {
                            <h3 class="text-danger">Weather code est obigatoire</h3>
                        }
                        <div class="cmp-tb-hd bsc-smp-sm">
                            <label>Conseil en Audio</label>
                        </div>
                        <br/>
                <div class="container">
                    <div class="display">
                    </div>

                    <div class="controllers">
                    </div>
                </div>
                <form method="post" enctype="multipart/form-data">
                            <br />

                    <input type="file" id="fileInput" asp-for="File">
                    <div class="summernote-wrap mg-t-30">
                        <div class="cmp-tb-hd bsc-smp-sm">
                            <label>Plante</label>
                        </div>
                        <div class="bootstrap-select fm-cmp-mg w-100">

                            <select name="plante[]" class="selectpicker" data-live-search="true" multiple>
                                @foreach (Plante p in ViewBag.listeplante)
                                {
                                    <option value="@p.Id">@p.Nom</option>
                                }
                            </select>
                        </div>
                                <br />

                        <div class="cmp-tb-hd bsc-smp-sm">
                            <label>Conseil en Francais</label>
                        </div>
                        <textarea class="html-editor" asp-for="Text_Francais"></textarea>
                                <br />

                        <div class="cmp-tb-hd bsc-smp-sm">
                            <label>Conseil En arabe</label>
                        </div>
                        <textarea class="html-editor" asp-for="Text_Arabe"></textarea>


                        <div class="form-example-int form-horizental">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                        <label asp-for="Quantite_Eau" class="hrzn-fm"></label>
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                        <div class="nk-int-st">
                                            <input type="number" class="form-control input-sm" asp-for="Quantite_Eau">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-example-int form-horizental">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                        <label asp-for="Resultat_Attendue" class="hrzn-fm"></label>
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                        <div class="nk-int-st">
                                            <input type="text" class="form-control input-sm" asp-for="Resultat_Attendue">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-example-int form-horizental">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                        <label asp-for="Temperature_Max" class="hrzn-fm"></label>
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                        <div class="nk-int-st">
                                            <input type="number" class="form-control input-sm" asp-for="Temperature_Max">
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-example-int form-horizental">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                        <label asp-for="Temperature_Min" class="hrzn-fm"></label>
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                        <div class="nk-int-st">
                                            <input type="number" class="form-control input-sm" asp-for="Temperature_Min">
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-example-int form-horizental">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                        <label asp-for="Humidite_Max" class="hrzn-fm"></label>
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                        <div class="nk-int-st">
                                            <input type="number" class="form-control input-sm" asp-for="Humidite_Max">
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-example-int form-horizental">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                        <label asp-for="Humidite_Min" class="hrzn-fm"></label>
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                        <div class="nk-int-st">
                                            <input type="number" class="form-control input-sm" asp-for="Humidite_Min">
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-example-int form-horizental">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                        <label asp-for="Vent_Max" class="hrzn-fm">  </label>
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                        <div class="nk-int-st">
                                            <input type="number" class="form-control input-sm" asp-for="Vent_Max">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-example-int form-horizental">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                        <label asp-for="Vent_Min" class="hrzn-fm"></label>
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                        <div class="nk-int-st">
                                            <input type="number" class="form-control input-sm" asp-for="Vent_Min">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-example-int form-horizental mg-t-15">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                        <label asp-for="Weather_Code" class="hrzn-fm"></label>
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                        <div class="bootstrap-select fm-cmp-mg w-100">
                                            <select asp-for="Weather_Code" class="selectpicker" data-live-search="true" asp-items="Html.GetEnumSelectList<EnumWeatherCode>()">
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-example-int mg-t-15">
                            <div class="row">
                                <div class="col-lg-12 col-md-7 col-sm-7 col-xs-12 dcenter">
                                    <button class="btn btn-success notika-btn-success" type="submit">Ajouter</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
</div>
</div>




@section script
    {
    <script src="~/js/bootstrap-select/bootstrap-select.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/summernote/summernote-updated.min.js"></script>
    <script src="~/js/summernote/summernote-active.js"></script>
    <script src="~/js/chosen/chosen.jquery.js"></script>
    <script src="~/js/vrecorder.js"></script>


  }