@model Fallah_App.Models.User
@section title
    {
    <title>Modifier mot de passe</title>
}
<link rel="stylesheet" href="~/css/bootstrap-select/bootstrap-select.css">
<style>
    .bootstrap-select {
        width: 100% !important;
    }

    .dcenter {
        display: flex !important;
        justify-content: center !important;
    }

    .hrzn-fm {
        font-weight: bold !important;
    }

</style>
<form method="post">
    <div class="breadcomb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcomb-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="notika-icon notika-windows"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h2>Modifier mot de passe</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-element-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-element-list mg-t-30">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group ic-cmp-int float-lb floating-lb">
                                    <div class="form-ic-cmp">
                                        <i class=""></i>
                                    </div>
                                    <div class="nk-int-st">
                                        <label>Mot de passe actuel</label>
                                        <input type="password" asp-for="Password" class="form-control input-lg">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                        <span class="text-danger">@ViewData["message1"]</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group ic-cmp-int float-lb floating-lb">
                                    <div class="form-ic-cmp">
                                        <i class=""></i>
                                    </div>
                                    <div class="nk-int-st">
                                        <label>nouveau mot de passe</label>
                                        <input type="password" name="NvPassword" class="form-control input-lg">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group ic-cmp-int float-lb floating-lb">
                                    <div class="form-ic-cmp">
                                        <i class=""></i>
                                    </div>
                                    <div class="nk-int-st">
                                        <label>Re-taper le nouveau mot de passe</label>
                                        <input type="password" asp-for="PasswordConfirmation" class="form-control input-lg">
                                        <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
                                        <span class="text-danger">@ViewData["message"]</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-example-int mg-t-15">
                            <div class="row">
                                <div class="col-lg-12 col-md-7 col-sm-7 col-xs-12 dcenter">
                                    <button class="btn btn-success notika-btn-success" type="submit" id="btn">Valider</button>
                                    <div class="nk-navigation nk-lg-ic rg-ic-stl">
                                        <a href="#" data-ma-action="nk-login-switch" data-ma-block="#l-login" id="connecte" class="w-100"><i style="color: green;">?</i> <span>Connecté</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
